body {
  margin: 0;
}

html {
    background-color: rgb(112, 160, 231);
}

.header a {
    text-decoration: none;
    padding: 10px;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin: 0px;
    background-color:rgb(83, 85, 87);
    padding: 20px 40px;
}

.header-right {
    float: right;
}

.game_container {
  min-height: 90vh;
  margin-top: 15px;
  height = 500px;
  background-color: rgb(83, 85, 87);
}

.game_container::after {
  content: "";
  display: table;
  clear: both;
}

.game_container div {
  float: left;
}

.text_container {
  width: 50%
}

.game_visual {
  width: 50%
}
