header{
  background-color: blue;
}

body{
  background-image: url(images/header.jpeg);
}

.flex-container-body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
}

.flex-container-body > div {

}

.flex-container-top{
  display: flex;
  justify-content: right;
  flex-grow: 0.5;
}

.flex-container-top > div {
  background-color: cyan;
  padding: 10px;
  font-size: 20px;
}

.flex-container-header{
  display: flex;
  justify-content: center;
  flex-grow: 6;
}

.flex-container-header > div {
  /*background-image: url(images/header.jpeg);*/
  background-color: dodgerblue;
  font-size: 20px;
  width:100vw;
  text-align: center;
}

.flex-container-middle{
  display: flex;
  flex-grow: 6;
  justify-content: center;
  align-items: center;
}

.flex-container-middle > div {

}

.button-start{
  border-radius: 50%;
  color: black;
  background-color: red;
  font-size: 70px;
  padding: 8vh;
  text-decoration: none;
}


.flex-container-bottom {
  display: flex;
  justify-content: center;

  align-items: stretch;
  flex-grow: 3;
}

.flex-container-bottom > div {
  margin: 1vw;
  padding: 20px;
  font-size: 30px;
  background-color: dodgerblue;
  min-width: 10vw;
  align-content: center;
}

.button{
  border-radius: 0%;
  color: black;
  font-size: 40px;
  text-decoration: none;
}
