#level {
    background-color: dodgerblue;
}

#terminal {
    background-color: black;
}

.show-element {
    opacity: 1.0;
}

.hide-element {
    opacity: 0.0;
}

.msg {
    fill: black;
}